extends "./layout.jade"
block append css
    style.
      .btn-facebook{ background: #48649F;}
      .btn-facebook:hover { background: #405A92;}
      .sub-heading{
        font-size: 1.5em;
      }
      .upload_btn{ background: #d0d0d0; padding: 5px 10px 20px 10px; cursor: pointer;
         float: none !important; margin:0 auto !important;}
      input[type="text"]{ height: 40px !important; padding-left: 10px; border-radius: 0px !important}
      li{list-style-type: none;}
      ul{ margin-bottom: 1px; font-size: 12px; color: red}
      .rend{ margin-left: 10px; margin-top: -6px;}
block append body
    .row-fluid(style="padding-top:150px;")
      .row-fluid.Images
        .span10.offset1
          .span3.text-center
            img(src="/static/img/Img1.png")
          .span3.text-center
            img(src="/static/img/Img2.png")
          .span3.text-center
            img(src="/static/img/Img3.png")
          .span3.text-center
            img(src="/static/img/Img4.png")
    br
    .row-fluid
         row-fluid.wrapper.text-center(style="padding:10px;")
            h2 Are You Rendezvous User ?
            .row-fluid then, enter your registration code :
            br
            .row-fluid
              input.span3(type="text", id="code-text", placeholder="Your Rendezvous Code")
              button.submit-btn.btn.btn-success.rend Save
              button.no-btn.btn.btn-danger.rend Cancel
            .row-fluid
              a(href="//rendezvous-iitd.com/registration", target="_blank") don't have the code ?

         .row-fluid.result-show.text-center(style="padding:10px;display: none;")
            h4 
              span Your Rendezvous registration code: 
              span.result-value.text-info
              button.change-btn.btn.btn-info.rend Change
    hr
    .row-fluid
        .span12.text-center.sub-heading Upload your Talent Here !!!
    .row-fluid
        .span6.offset3
            form.row-fluid(method="POST",action="/index",enctype="multipart/form-data")
                .span12.text-center(style="padding:10px;")
                    #{form}
                    input(type="hidden", name="code", value="", id="final-code")
                    .row-fluid
                        .span6.upload_btn Choose File to Upload
                        span.file_name(style="position: relative;bottom: 22px;font-size: 12px;") No file choosen
                    .row-fluid
                        input.span6.btn.btn-large.btn-success(type="submit", value="Upload", style="border-radius: 30px;")

block append js
    script.
      $(document).ready(function(){
         $('label').remove();
         $('#id_name').attr('placeholder','Your Talent title');
         $('#id_name').addClass('span8');
         $('#id_file_path').hide();
         try{
           if(#{code}) {
             $(".wrapper").hide();
             $(".result-value").text(#{code});
             $(".result-show").fadeIn();
             $("#code-text").text(#{code});
             $(".change-btn").click(function() {
                $(".wrapper").fadeIn();
                $(".submit-btn").hide();
                $(".no-btn").show();
             });
           }
         } catch (err) {
           console.log('not code show');
         }
         try{
           if(#{upload_status}) {
              $('#id_name').val('');
              alert('Congratulations !!! your talent is successfully uploaded !!!');
           }
         } catch (err) {
           console.log('no uploads');
         }

         $('.upload_btn').click(function(){
           $('#id_file_path').click();
         });
         $('#id_file_path').change(function(e){
           $('.file_name').html($(this).val());
         });

         $(".submit-btn").click(function() {
           var code = $("#code-text").val();
           if(code != "") {
             $(".wrapper").hide();
             $("#final-code").val(code);
             $(".result-value").text(code);
             $(".result-show").fadeIn();
           } else {
             alert("Please Enter Registration code received from Rendezvous");
           }
         });

       $(".change-btn").click(function() {
         $(".result-show").hide();
         $(".wrapper").fadeIn();
         $(".submit-btn").show();
         $('#code-text').val($(".result-value").html());
         $(".no-btn").show();
       });

       $(".no-btn").click(function(){
         $('#code-text').val('');
       });

      });
